
// reset

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}


.focus, :focus {
    outline: 0;
    box-shadow: none;
    background:transparent;
     border: 0;
}

button {
  outline: none; // this one
}

button:focus { outline:0; background:transparent;border: 0; }



a:hover { color: #e69f1a;opacity: 0.6;filter: alpha(opacity=60);cursor:pointer;}
a:link {    color: #000;text-decoration: none;cursor:pointer;}
a:visited {    color: #635d63;text-decoration: none;cursor:pointer;}
a:hover {    color: #02cad7; text-decoration: none;cursor:pointer; }
a:active {    color: #c50e12; text-decoration: none;cursor:pointer;}


.no-pad {
  padding:0;
}

.textbox {
    padding: 10%;
    width: 100%;
    min-height: 100%;
    height: 100%;
}

.btn {
    font-family: 'Architects Daughter', cursive,Arial;
    font-size: 18px;
    background-color: $white;
    border: 1px solid $dark;
    border-radius: 0px;
    margin: 10px 10px 10px 0;
    color: $dark;

    &:hover {
    background-color: $dark;
    border: 1px solid $white;
    color: $white;
    }
    &:active {
    background-color: $dark;
    border: 1px solid $white;
    color: $white;
    }
    &:focus {
    background-color: $dark;
    border: 1px solid $white;
    color: $white;
    outline: 0;
    box-shadow: none;
    }
}