@import url('https://fonts.googleapis.com/css?family=Archivo+Black|Lato|Century|Playfair+Display|Abel|Gothic+A1|Gruppo|Inconsolata|Lateef');

h1 {
	font-family: 'Playfair Display', cursive, Arial;
	font-weight: 500;
	display: block;
}