
/* colors*/
$dark: #1F1F1F;
$babyblue: #E3F3FA;
$hovercolor: #02cad7;
$grey: #6A6A6A;
$purple: #ff6725;
$white: #FFFFFF;
$transparentPurple: rgba(223, 151, 249, 0.1);
/* Breakpoints */
$maxWidth: 1024px;
$mediumWidth: 767px;

